body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.generator-container {
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    width: 50%;
}

h2 {
    color: #ff0000;
}

/* Estilo para os cartões */
.card-info {
    text-align: left;
    background-color: #444;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

button {
    padding: 8px 16px;
    background-color: #ff0000;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #d40000;
}

/* Loader (bolinha de carregamento) */
.loader {
    border: 5px solid #f3f3f3; /* Cor de fundo */
    border-top: 5px solid #ff0000; /* Cor da borda animada */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
    display: none; /* Inicialmente oculto */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
